.container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.3fr 0.5fr 2.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'global-nav global-nav global-nav'
    'sidebar-layout share-box layout-aside'
    'sidebar-layout feed-share layout-aside';
}

.global-nav {
  grid-area: global-nav;
  background-color: #ffffff;
  display: flex;
  justify-content: center; /* Horizontally center the contents */
}

.sidebar-layout {
  grid-area: sidebar-layout;
}

.share-box {
  padding-top: 10px;
  grid-area: share-box;
  padding: 10px;
}

.feed-share {
  grid-area: feed-share;
}

.layout-aside {
  grid-area: layout-aside;
}

.topbar-main {
  width: 1200px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  min-height: 100%;
  justify-content: space-between; /* Distribute the items evenly along the horizontal axis */
  align-items: center; /* Vertically center the contents */
  margin: 0 auto; /* Center the topbar-main within the global-nav container */
}

.feedLinkedInLogo {
  height: 4.1rem;
  width: 4.1rem;
  align-items: center;
  cursor: pointer;
}

.global-nav-feed {
  display: flex;
  margin-left: 5%;
}

.Navbar__Text {
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  color: #787878;
}
.Navbar__Text__Premium {
  font-family: system-ui;
  font-size: 13px;
  font-weight: 100;
  padding-top: 10px;
  text-align: center;
  width: 150px;
  a {
    color: #5d3b09;
  }
}
.Navbar__Text_Active {
  border-bottom: 2px solid;
  color: #191919;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}

.react-icon {
  color: #666666;
  cursor: pointer;
}

.react-icon:hover {
  color: #000000;
}

.user-logo {
  width: 40px;
  right: 30px;
  cursor: pointer;
}

.feed-logout-btn {
  background-color: #000000;
  color: black;
  cursor: pointer;
}
.feed-component {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  button {
    width: 10%;
    background-color: blue;
    color: black;
  }
}
.dropdown-menu {
  padding-top: 5px;
  position: relative; /* Added to make the dropdown content relative to the dropdown container */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  padding-left: 10px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  width: 265px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%; /* Position the dropdown content below the dropdown container */
  border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu onClick */
.dropdown-content {
  display: block;
  padding-right: 8px;
}

.top-nav-view-profile-button {
  height: min-content;
  min-height: 14px;
  border-radius: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 1480px) {
  /* styles */
  .Navbar__Text {
    font-size: 12px;
  }
}

@media (max-width: 1304px) {
  /* styles */
  .Navbar__Text {
    font-size: 10px;
  }
}

@media (max-width: 1024px) {
  /* styles */
  .Navbar__Text {
    font-size: 8px;
  }
}
.dropdown-content a {
  font-size: 13px;
  padding: 8px;
  color: brown;
  font-weight: 300;
}
.dropdown-button {
  background-color: #fff;
  border: 1px solid #0072b1;
  color: #1779ae;
  border-radius: 30px;
  text-align: center;
  width: 100%;
  height: 24px;
  font-weight: 600;
  font-size: 16px;

  cursor: pointer;
}
.dropdown-button:hover {
  a:link {
    text-decoration: none;
  }
  box-shadow: black;
  background-color: #f0f7fe;
}
.dropdown-content-header {
  font-size: 18px;
  font-weight: 600;
  padding-left: 10px;
}
.header-dropdown {
  display: flex;
  padding: 10px;
}
.hr-line {
  color: brown;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.dropdown-user-logo-post {
  margin-right: 8px;
}
.ember-view {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  padding-bottom: 10px;
}
.user-logo-top-nav {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
.drop-down-menu-profile-picture {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border-radius: 40px;
}
.search-results {
  position: absolute;
  background-color: white;
  top: 50px;
  left: 6.5%;
  width: 290px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  // top: 100%; /* Position the dropdown content below the dropdown container */
  border-radius: 10px;
}

.search-inner {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  .name {
    font-family: system-ui;
    font-size: 18px;
  }
}

.search-inner:hover {
  background-color: #bbbbbb;
}
