.container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.3fr 0.5fr 2.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'global-nav global-nav global-nav'
    'sidebar-layout share-box layout-aside'
    'sidebar-layout feed-share layout-aside';
}

.global-nav {
  grid-area: global-nav;
}

.sidebar-layout {
  grid-area: sidebar-layout;
  padding-right: 15px;
}

.share-box {
  padding-top: 10px;
  grid-area: share-box;
  max-width: 555px;
  padding: 10px;
}

.feed-share {
  grid-area: feed-share;
}

.layout-aside {
  grid-area: layout-aside;
}

.topbar-main {
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
}
.feedLinkedInLogo {
  height: 4.1rem;
  width: 4.1rem;
  margin-left: 17%;
}

.global-nav-feed {
  display: flex;
  margin-left: 5%;
}

.Navbar__Text {
  text-align: center;
}

.Navbar__Text__Premium {
  padding-top: 12px;
  text-align: center;
  width: 100px;
}

.react-icon {
  color: #666666;
  cursor: pointer;
}

.react-icon:hover {
  color: #000000;
}

.user-logo {
  width: 40px;
  right: 30px;
  cursor: pointer;
}

.feed-logout-btn {
  background-color: #000000;
  color: black;
  cursor: pointer;
}
.feed-component {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  button {
    width: 10%;
    background-color: blue;
    color: black;
  }
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  width: 265px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-size: 16px;
  line-height: 24px;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: rgba(0, 0, 0, 0.9);
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 1462px) {
  /* styles */
  .Navbar__Text {
    font-size: 12px;
  }
}

@media (max-width: 1256px) {
  /* styles */
  .Navbar__Text {
    font-size: 10px;
  }
}
