.searchBarTop {
  // margin-left: -30px;
}
.feedsearch-top {
  background-color: #eef3f8 !important;
  color: #75787a !important;
}

.ant-input {
  background-color: #eef3f8 !important;
  color: #75787a !important;
}

@media (max-width: 1037px) {
  .searchBarTop {
    display: none;
  }
}

// @media (max-width: 1480px) {
//   .searchBarTop {
//     display: none;
//   }
// }
