.layout-aside-main {
  //   justify-content: center;
  //   align-items: center;
  border: 1px solid #b7b7b7;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  // margin-right: 55%;
  width: 300px;
  // border-radius: 7px;
  // min-height: 80px;
}
.layout-aside-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  display: flex;
  //   align-items: center;
  padding-left: 10px;
}
