.layout-aside-main {
  border: 1px solid #b7b7b7;
  background-color: white;
  border-radius: 10px;
}
.layout-aside-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  display: flex;
  padding-left: 10px;
}
