.container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.3fr 0.5fr 2.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'global-nav global-nav global-nav'
    'sidebar-layout share-box layout-aside'
    'sidebar-layout feed-share layout-aside';
}

.global-nav {
  grid-area: global-nav;
}

.sidebar-layout {
  grid-area: sidebar-layout;
}

.share-box {
  padding-top: 10px;
  grid-area: share-box;
}

.feed-share {
  grid-area: feed-share;
}

.layout-aside {
  grid-area: layout-aside;
}

.topbar-main {
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
}
.feedLinkedInLogo {
  // width: 10%;
  height: 4.1rem;
  width: 4.1rem;
  margin-left: 17%;
}

.global-nav-feed {
  display: flex;
  // align-items: center;
  // justify-content: space-between;
  // width: 45%;
  margin-left: 5%;
  // align-items: right;
}

.react-icon {
  color: #666666;
  cursor: pointer;
}

.react-icon:hover {
  color: #000000;
}

.user-logo {
  width: 40px;
  // position: absolute;
  right: 30px;
  cursor: pointer;
}

.feed-logout-btn {
  background-color: #000000;
  color: black;
  cursor: pointer;
}
.feed-component {
  // margin-top: 100px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  // flex-direction: column;
  button {
    width: 10%;
    background-color: blue;
    color: black;
  }
}
