.login-login-wrapper {
  display: flex;
}

.login-content {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20%);
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  .login-heading {
    font-size: 34px;
    font-family: system-ui;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
  }
  .login-subheading {
    font-size: 10px;
  }
}

.login-btn {
  height: 50px;
  cursor: pointer;
  background-color: #0a66c2;
  border-color: #0a66c2;
  color: #fff;
  border-radius: 50px;
}
.login-btn:hover {
  background-color: #006097;
}

.auth-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  font-size: 1.8rem;
}
.login-inputs {
  background-color: #fffcc8;
  font-size: 16px;
  height: 40px;
  padding: 10px;
  outline: none;
  border-radius: 3px;
  font-family: system-ui;
}
.login-inputs:focus {
  outline: 1px solid rgba(2, 2, 117);
}
::placeholder {
  color: black;
  font-family: system-ui;
}

.login-text-with-line {
  display: flex;
  align-items: center;
}

.login-text-with-line .line {
  height: 1px;
  width: 100%;
  background-color: black;
}

.login-text-with-line .text {
  margin: 0 10px;
  flex: 1;
  padding-top: 3px;
  padding-bottom: 9px;
}

.linkedInLogo {
  position: absolute;
  width: 130px;
  height: 30px;
  top: 35px;
  left: 430px;
}

.login-alternative-signIn-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.login-alternative-signIn-btn:hover {
  background-color: rgba(207, 207, 207, 0.25);
}
.forgot-password {
  color: #0a66c2;
  margin-top: 5px;
}

.login-join-now {
  position: absolute;
  left: 42%;
  top: 69%;
}
.login-alternative-signIn-btn {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  color: #767676;
  margin-top: 5px;
  border-color: #7a7a7a;
}
