.posts-card {
  //   width: 80%;
  height: 70px;
  background-color: #ffffff;
  border-radius: 7px;
  display: flex;
  //   justify-content: center;
  align-items: center;
  margin-top: 10px;
  .posts-status {
    text-align: left;
    padding: 20px;
    font-family: system-ui;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
  }
}
