.profile-container {
  margin-left: 27%;
  display: grid;
  grid-template-columns: 870px 10px 10px;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'scaffold-layout__main scaffold-layout__main scaffold-layout__aside'
    'scaffold-layout__analytics scaffold-layout__analytics scaffold-layout__aside'
    'scaffold-layout__about scaffold-layout__about scaffold-layout__aside'
    'scaffold-layout__activity scaffold-layout__activity scaffold-layout__aside'
    'scaffold-layout__experience scaffold-layout__experience scaffold-layout__aside'
    'scaffold-layout__skills scaffold-layout__skills scaffold-layout__aside'
    'scaffold-layout__interests scaffold-layout__interests scaffold-layout__aside';
}

@media (min-width: 730px) {
  .profile-container {
    margin-left: 7%;
  }
}

@media (min-width: 1500px) {
  .profile-container {
    margin-left: 20%;
  }
}

@media (min-width: 2000px) {
  .profile-container {
    margin-left: 17%;
  }
}

@media (min-width: 2000px) {
  .profile-container {
    margin-left: 27%;
  }
}

.profile-page-card-analytics,
.profile-page-card-item,
.scaffold-layout__about,
.scaffold-layout__activity,
.scaffold-layout__experience,
.scaffold-layout__skills {
  width: 860px;
  background-color: #fff;
  position: relative;
  height: 200px;
  border-radius: 10px;
  margin-top: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

.scaffold-layout__aside {
  grid-area: scaffold-layout__aside;
  background-color: white;
  width: 300px;
  margin-top: 30px;
  border-radius: 10px;
}

.scaffold-layout__analytics {
  grid-area: scaffold-layout__analytics;
}

.scaffold-layout__main {
  grid-area: scaffold-layout__main;
  border-radius: 8rem;
}

.scaffold-layout__about {
  grid-area: scaffold-layout__about;
}

.scaffold-layout__activity {
  grid-area: scaffold-layout__activity;
}

.scaffold-layout__experience {
  grid-area: scaffold-layout__experience;
}

.scaffold-layout__skills {
  grid-area: scaffold-layout__skills;
}

.scaffold-layout__interests {
  grid-area: scaffold-layout__interests;
}
.profile-card-header-title {
  font-family: system-ui;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
}
.analytics-privacy-setting {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #707070;
}
.profile-card-contents {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.profile-card-content {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.analytics-image-items {
  padding-right: 7px;
  padding-left: 3px;
}
