.sidebar-main {
  justify-content: center;
  align-items: center;
  border: 1px solid #b7b7b7;
  background-color: white;
  //   width: 50%;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 50%;
  //   margin-right: 10%;
  //   max-width: 222px;
  border-radius: 7px;
  min-height: 80px;
  //   align-items: center;
  //   flex-direction: row;
}
.sidebar-content {
  display: flex;
  flex-direction: column;
  //   width: 80%;
  //   height: 60px;
  display: flex;
  align-items: center;
}
