.profileFooter-container {
  padding-top: 20px;
  font-size: 14px;
  display: grid;
  grid-template-columns: 150px 1fr 150px 270px 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 20px;
  grid-template-areas:
    'top-left top-middle top-right footer-action-top-left footer-action-top-right footer-action-bottom-right'
    'left-two middle-two right-two footer-action-middle-left footer-action-middle-right .'
    'left-three middle-three right-three footer-action-bottom-left . .'
    'left-four middle-four right-four . . .'
    'left-five middle-five right-five . . .';

  .profile-footer-top-left {
    grid-area: top-left;
  }
  .profile-footer-top-middle {
    grid-area: top-middle;
  }
  .profile-footer-top-right {
    grid-area: top-right;
  }
  .profile-footer-left-two {
    grid-area: left-two;
  }
  .profile-footer-left-three {
    grid-area: left-three;
  }
  .profile-footer-left-four {
    grid-area: left-four;
  }
  .profile-footer-left-five {
    grid-area: left-five;
  }
  .profile-footer-middle-two {
    grid-area: middle-two;
  }
  .profile-footer-middle-three {
    grid-area: middle-three;
  }
  .profile-footer-middle-four {
    grid-area: middle-four;
  }
  .profile-footer-middle-five {
    grid-area: middle-five;
  }
  .profile-footer-right-two {
    grid-area: right-two;
  }
  .profile-footer-right-three {
    grid-area: right-three;
  }
  .profile-footer-right-four {
    grid-area: right-four;
  }
  .profile-footer-right-five {
    grid-area: right-five;
  }
  .footer-action-top-left {
    grid-area: footer-action-top-left;
  }
  .footer-action-middle-left {
    grid-area: footer-action-middle-left;
  }
  .footer-action-bottom-left {
    grid-area: footer-action-bottom-left;
  }
  .footer-action-top-right {
    grid-area: footer-action-top-right;
  }
  .footer-action-middle-right {
    grid-area: footer-action-middle-right;
  }
  .footer-action-bottom-right {
    grid-area: footer-action-bottom-right;
  }

  .top-left {
    grid-area: top-left;
  }

  .top-middle {
    grid-area: top-middle;
  }

  .top-right {
    grid-area: top-right;
  }

  .left-two {
    grid-area: left-two;
  }

  .left-three {
    grid-area: left-three;
  }

  .left-four {
    grid-area: left-four;
  }

  .left-five {
    grid-area: left-five;
  }

  .middle-two {
    grid-area: middle-two;
  }

  .middle-three {
    grid-area: middle-three;
  }

  .middle-four {
    grid-area: middle-four;
  }

  .middle-five {
    grid-area: middle-five;
  }

  .right-two {
    grid-area: right-two;
  }

  .right-three {
    grid-area: right-three;
  }

  .right-four {
    grid-area: right-four;
  }

  .right-five {
    grid-area: right-five;
  }

  // a {
  //   font-weight: 600;
  // }
  a,
  :visited {
    color: #666666;
  }
  .profile-footer-icons {
    display: flex;
    list-style: none;
  }
  .profile-footer-content {
    margin-left: 10px;
  }
  .profile-footer-title {
    font-size: 15px;
    font-weight: 600;
  }
  .profile-footer-helper-icon {
    margin-top: 5px;
    height: 20px;
    width: 20px;
  }

  .profile-footer-title a {
    color: #666666;
    .link:hover {
      color: #0a66c2;
    }
  }
}
