.posts-card {
  height: auto;
  background-color: #ffffff;
  border-radius: 7px;
  align-items: center;
  .name {
    font-size: 14px;
    font-family: system-ui;
    font-weight: 600;
    margin: 10px 0px 0px 10px;
    color: #000000;
    cursor: pointer;
  }

  .time-stamp {
    font-size: 12px;
    font-family: system-ui;
    font-weight: 400;
    margin: 0px 0px 0px 10px;
  }
  .posts-status {
    margin-top: 10px;
    margin: 10px 0 0 0px;
    text-align: left;
    padding: 10px;
    font-family: system-ui;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
  }
}
