.profile-card {
  width: 860px;
  background-color: whitesmoke;
  margin-top: 30px;
  position: relative;
  .edit-btn {
    color: black;
    position: absolute;
    right: 20px;
    cursor: pointer;
  }

  .userName {
    font-family: system-ui;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
    font-size: 24px;
  }
  .userEmail {
    margin-top: -25px;
    font-family: system-ui;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
    font-size: 16px;
  }
}
.profile-background {
  cursor: pointer;
}
.profile-card-open-btn {
  height: 32px;
  width: 89.7167px;
  margin-right: 0.6rem;
  min-height: 32px;
  max-width: 480px;
  cursor: pointer;
  background-color: #0a66c2;
  border-color: #0a66c2;
  color: #fff;
  border-radius: 50px;
  font-family: system-ui;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  overflow: hidden;
}

.profile-card-profile-btn {
  height: 32px;
  margin-right: 0.6rem;
  background-color: #fff;
  color: #0a66c2;
  border-radius: 50px;
  font-family: system-ui;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  border: 1px solid;
  padding: 0.6rem 2rem;
}
.modal-save-more-btn {
  height: 32px;
  width: 89.7167px;
  margin-right: 1.6rem;
  min-height: 32px;
  max-width: 80px;
  cursor: pointer;
  background-color: #fff;
  border-color: #a9a9a9;
  color: #666666;
  border-radius: 50px;
  font-family: system-ui;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.ph5 {
  padding-left: 15px;
}
.pv-top-card--photo {
  margin-top: -140px;
  z-index: -4;
}

.pv-top-card-v2 {
  display: flex;
  padding-top: 1.2rem;
  width: auto;
}
.profile-topcard-background-image {
  position: absolute;
  top: calc(1.6rem + 0.4rem);
  right: calc(1.6rem + 0.4rem);
}
.profile-topcard-camera-btn {
  background-color: #fff;
  height: 3.2rem;
  width: 3.2rem;
  min-width: auto;
  border-radius: 50%;
  color: #196fc5;
  cursor: pointer;
}
.profile-background-is3 {
  border-radius: 10px 10px 0px 0px;
}
