.like-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;

  p {
    font-family: system-ui;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.835);
    font-size: 14px;
  }
  .feed-shared-social-action {
    .blue {
      color: #0a66c2;
      font-weight: 600;
    }

    .blac k {
      color: #000;
    }
  }
}
.feed-shared-social-action {
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}
.social-number-of-likes {
  font-size: 12px;
  margin-left: 5px;
  padding-bottom: 5px;
}
