.post-status-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #b7b7b7;
  background-color: white;
  border-radius: 10px;
}
.post-status {
  width: 80%;
  height: 65px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  padding-top: 15px;
  justify-content: space-between;

  .open-post-modal {
    display: flex;
    flex-direction: column;
    color: #2879c9;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    width: 90%;
    text-align: left;
    background-color: #ffffff;
    outline: none;
    border: 1px solid #b7b7b7;
    border-radius: 30px;
    cursor: pointer;
    padding: 15px;
    font-family: arial;
  }
}
.user-logo-post {
  padding: 2px;
}

.share-box-feed-entry-toolbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  border: none;
}
.post-status-profile {
  display: flex;
  align-items: left;
  padding-right: 10px;
}
.Navbar__Link {
}

.post-status-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #b7b7b7;
  background-color: white;
  width: 50%;
  border-radius: 10px;
}
